<div class="container">
  <h1 class="page-header">{{title}}</h1>
  
  <div class="list-group">
    <a *ngFor = "let hero of heroes"
       class="list-group-item"
       [class.active]="hero === selectedHero"
       (click) = "onSelect(hero)"
    >
      <span class="label label-info">
        {{hero.id}}
      </span> 
      {{hero.name}}
    </a>
  </div>

  <hero-detail [hero] = "selectedHero"></hero-detail>
</div>