<div *ngIf = "hero">
  <h3>{{hero.name}}!</h3>
  <div>
     <label for="">id: </label> {{hero.id}}
  </div>
  <div>
    <label for="name">name:</label>
    <input class="form-control" type="text		"   name="name" [(ngModel)]="hero.name"
       placeholder="name"
    >
  </div>
</div>